
# PlanAhead Generated physical constraints 

NET "boje[1]" LOC = M16 | IOSTANDARD=LVCMOS33;
NET "boje[0]" LOC = R12 | IOSTANDARD=LVCMOS33;
NET "boje[2]" LOC = N15 | IOSTANDARD=LVCMOS33;
NET "segmenti[6]" LOC = T10 | IOSTANDARD=LVCMOS33;
NET "segmenti[5]" LOC = R10 | IOSTANDARD=LVCMOS33;
NET "segmenti[4]" LOC = K16 | IOSTANDARD=LVCMOS33;
NET "segmenti[3]" LOC = K13 | IOSTANDARD=LVCMOS33;
NET "segmenti[2]" LOC = P15 | IOSTANDARD=LVCMOS33;
NET "segmenti[1]" LOC = T11 | IOSTANDARD=LVCMOS33;
NET "segmenti[0]" LOC = L18 | IOSTANDARD=LVCMOS33;
NET "bir_uk[0]"    		 LOC=J17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "bir_uk[1]"          LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "bir_uk[2]"          LOC=T9 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "bir_uk[3]"          LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A22_15
NET "bir_uk[4]"          LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_D12_14
NET "bir_uk[5]"          LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_14
NET "bir_uk[6]"          LOC=K2 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "bir_uk[7]"          LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_A02_D18_14
NET "clk" LOC = E3 | IOSTANDARD=LVCMOS33;
NET "rst" LOC = J15 | IOSTANDARD=LVCMOS33;
